
<div class="formulario">
<form #alumnosForm="ngForm" (ngSubmit)="agregaAlumno()">
  <ion-label>Nombre alumno:</ion-label>
  <ion-input required [(ngModel)]="alumno.nombre" name="nombre"></ion-input>
  <ion-label>
    <ion-checkbox labelPlacement="start" [(ngModel)]="alumno.presente" name="presente"></ion-checkbox>Presente
  </ion-label>
  <div>
    <ion-button type="submit">Agregar</ion-button>
  </div>
</form>
</div>

<ion-list>
  <ion-item-sliding *ngFor="let alumno of alumnos">
    <ion-item>
      {{ alumno.nombre }}
    </ion-item>
    <ion-item-options side="start"> 
      <ion-item-option color="warning" >Agregar a Favoritos</ion-item-option>
    </ion-item-options>
    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="mostrarActionSheet(alumno)">Eliminar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>




